@model IEnumerable<TrashCollector2.Models.Employee>

@{
    ViewBag.Title = "Monday";
}

<h2>Monday</h2>

<h3>Select a day</h3>
<p>
    @Html.ActionLink("Sunday", "WorkForSunday", "Employee")
    @Html.ActionLink("Monday", "WorkForMonday", "Employee")
    @Html.ActionLink("Tuesday", "WorkForTuesday", "Employee")
    @Html.ActionLink("Wednesday", "WorkForWednesday", "Employee")
    @Html.ActionLink("Thursday", "WorkForThursday", "Employee")
    @Html.ActionLink("Friday", "WorkForFriday", "Employee")
    @Html.ActionLink("Saturday", "WorkForSaturday", "Employee")
</p>
<h4>See Todays Work Load</h4>
<p>
    @Html.ActionLink("Schdule For Today", "WorkForToday", "Employee")


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.employeeZipcode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApplicationId)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.employeeZipcode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationId)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.employeeId }) |
                @Html.ActionLink("Details", "Details", new { id = item.employeeId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.employeeId })
            </td>
        </tr>
    }

</table>
